/* Reset */
@import 'tailwindcss/base.css';
@import 'reset';

/* Components */
@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

/* Utilities */
@import 'tailwindcss/utilities';

body {
    font-family: 'Public Sans', sans-serif;
}


.icon-low {
    color: #dedede;
}


.nav-link > .a {
    background: rgba(59, 130, 246, 0.6);
}

.text-link-main {
    @apply text-primary-600
}